.weatherimage {
  width: 50%;
  height: 60%;
  position: absolute;
    z-index: 2;
    left: 0px;
/*     top: 10%; */
    float: left;
/*     background: rgba(0, 255, 255, 0.75); */
    padding-top: 20px;

}

.currentweather {
  width: 50%;
  height: 40%;
  position: absolute;
    z-index: 2;
    right: 0px;
    float: right;
    top: -20px;
    color: #fff;
    font-size: 9em;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
/*     background: rgba(0, 255, 0, 0.75); */

}

.currentDate {
  width: 50%;
  height: 20%;
  position: absolute;
    z-index: 2;
    right: 0px;
    top: 40%;
        color: #fff;
    font-size: 1.5em;
/*     background: rgba(255, 255, 0, 0.75); */

}


.forecast {
	
  width: 100%;
  height: auto;
  padding: 5px;
  position: absolute;
background: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
    z-index: 1;
    top: 180px;
    

}

.forecast0 {
width: 20%;
height: auto;
float: left;
}

.forecast1 {
width: 20%;
height: auto;
float: left;
}

.forecast2 {
width: 20%;
height: auto;
float: left;
}

.forecast3 {
width: 20%;
height: auto;
float: left;
}

.forecast4 {
width: 20%;
height: auto;
float: left;
}





body {
    font: 13px 'Open Sans', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 200;
    background: #094e93;
    text-align: center;

}



#mainDiv {
	
	  position: relative;
/* 	   background: rgba(255, 0, 0, 0.75); */
	   width: 85%;
/* 	   border-radius: 5px; */
	   height: 300px;
	   margin-left:auto;
	   margin-right:auto;

}


